<{$toolbar}>

<{if $op=="tad_link_form"}>
  <{if $isAdmin}>
    <{includeq file="db:tad_link_form.html"}>
  <{/if}>
<{elseif $op=="show_one_tad_link"}>
  <script type="text/javascript">

    <{if $isAdmin}>
    function delete_tad_link_func(link_sn){
      var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
      if (!sure)  return;
      location.href="index.php?op=delete_tad_link&link_sn=" + link_sn;
    }
    <{/if}>
  </script>
  <div class="well">
    <div class="row-fluid">
      <div class="span5">
        <a href="index.php?op=go&link_sn=<{$link_sn}>" target="_blank" border=0><img src="<{$pic}>" class="img-rounded img-polaroid" alt="<{$cate_title}>"></a></div>
      <div class="span7">
        <div class="span6">
        <span class="label label-info">
          <a href="index.php?cate_sn=<{$cate_sn}>" style="color:white;"><{$cate_title}></a>
        </span>
        <span class="badge badge-important"><{$link_counter}></span>
        </div>

        <div class="span6" style="text-align:right;">
        <{if $isAdmin}>
        <a href="index.php?op=tad_link_form&link_sn=<{$link_sn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
        <a href="javascript:delete_tad_link_func(<{$link_sn}>)" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
        <{/if}>
        <a href="index.php?cate_sn=<{$cate_sn}>" class="btn btn-mini btn-info"><{$smarty.const._MD_TADLINK_CATE_INFO2}></a>
        </div>

        <h1><a href="index.php?op=go&link_sn=<{$link_sn}>" target="_blank" style="text-decoration:none;"><{$link_title}></a></h1>

        <div class="well well-small">
        <a href="index.php?op=go&link_sn=<{$link_sn}>" target="_blank" class="btn btn-primary"><{$smarty.const._MD_TADLINK_GOTO_LINK}><{$link_url}></a>
        </div>

        <div><{$link_desc}></div>
      </div>
    </div>
  </div>

  <div style="margin:8px;text-align:right;"><{$push_url}></div>
  <{$facebook_comments}>

<{elseif $op=="batch" and $isAdmin and $show_cate_sn}>

    <script type="text/javascript">

      $().ready(function(){
        $("#sort").sortable({ opacity: 0.6, cursor: "move", update: function() {
            var order = $(this).sortable("serialize") + "&action=updateRecordsListings";
            $.post("save_sort.php", order, function(theResponse){
                $("#save_msg").html(theResponse);
            });
        }
        });

        $("#clickAll").click(function() {

           if($("#clickAll").attr("checked"))
           {
             $("input[name='link_sn[]']").each(function() {
                 $(this).attr("checked", true);
             });
           }
           else
           {
             $("input[name='link_sn[]']").each(function() {
                 $(this).attr("checked", false);
             });
           }
           get_all_sn();
        });

        $("input[name='link_sn[]']").change(function() {
          get_all_sn();
        });
      });

      function get_all_sn(){
        var i=0;
        var arr = new Array();
        $("input[name='link_sn[]']").each(function() {
           if($(this).attr("checked")){
            arr[i] = $(this).val();
            i++;
           }
        });
        $('#all_sn').val(arr.join(','));
      };

      function delete_tad_link_func(link_sn){
        var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
        if (!sure)  return;
        location.href="index.php?op=delete_tad_link&mode=batch&cate_sn=<{$show_cate_sn}>&link_sn=" + link_sn;
      }

      function delete_all_link_func(){
        var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
        if (!sure)  return;
        var all_sn=$('#all_sn').val();
        location.href="index.php?op=delete_all_link&mode=batch&cate_sn=<{$show_cate_sn}>&all_sn=" + all_sn;
      }
    </script>

    <div class="row-fluid">

      <{$smarty.const._MD_TADLINK_SHOW_CATE}><{$smarty.const._TAD_FOR}>
      <select name="show_cate_sn" size=1 id="show_cate_sn" onChange="location.href='index.php?op=batch&cate_sn='+this.value;">
        <option value="" ></option>
        <{$get_tad_link_cate_options}>
      </select>
      <{if $isAdmin and $show_cate_sn!=""}>
        <a href="index.php?cate_sn=<{$show_cate_sn}>" class="btn btn-success"><{$smarty.const._MD_TADLINK_BACK}></a>
      <{/if}>

    </div>

    <form action="index.php" method="post">
      <label class="checkbox inline">
        <input type="checkbox" id="clickAll"> <{$smarty.const._MD_TADLINK_SELECT_ALL}>
        <span class="label label-success" id="save_msg"></span>
      </label>

      <table class="table table-striped table-hover">
        <tbody id="sort">
          <{foreach item=link from=$all_content}>

            <tr id="tr_<{$link.link_sn}>">
              <td>
                <label class="checkbox inline">
                  <input type="checkbox" name="link_sn[]" value="<{$link.link_sn}>" class="link_sn">
                  <{$link.link_title}>

                  <span style="font-size:12px;"><{$link.link_url}></span>
                  <span class="label label-info"><a href="index.php?op=go&link_sn=<{$link.link_sn}>" target="_blank" style="color:white">Go</a></span>

                  <{if $link.overdue}>
                    <span class="label label-important"><{$smarty.const._MD_TADLINK_OVERDUE}></span>
                  <{/if}>

                </label>
              </td>
              <td>
                <a href="javascript:delete_tad_link_func(<{$link.link_sn}>)" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
                <a href="index.php?op=tad_link_form&mode=batch&link_sn=<{$link.link_sn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
              </td>
            </tr>

          <{/foreach}>
        </tbody>
      </table>
      <span class="help-block"><{$smarty.const._MD_TADLINK_DRAG_SORT}></span>
      <input type="hidden" id="all_sn" >
      <a href="javascript:delete_all_link_func()" class="btn btn-danger"><{$smarty.const._MD_TADLINK_BATCH_DEL}></a>
    </form>
<{else}>

  <{if $all_content}>
    <{$fancybox_code}>

    <{if $isAdmin}>
      <script type="text/javascript">
        function delete_tad_link_func(link_sn){
          var sure = window.confirm("<{$smarty.const._TAD_DEL_CONFIRM}>");
          if (!sure)  return;
          location.href="index.php?op=delete_tad_link&cate_sn=<{$show_cate_sn}>&link_sn=" + link_sn;
        }
      </script>
    <{/if}>

    <h1><{$cate.cate_title}></h1>
    <div class="row-fluid">
      <div class="span3">
        <{$ztree_code}>
        <{if $isAdmin and $show_cate_sn!=""}>
          <div class="text-center">
            <a href="index.php?op=batch&cate_sn=<{$show_cate_sn}>" class="btn btn-success"><{$smarty.const._MD_TADLINK_BATCH}><{$cate.cate_title}></a>
          </div>
        <{/if}>
      </div>

      <div class="span9">
        <{foreach item=link from=$all_content}>
          <div class="row-fluid" id="link<{$link.link_sn}>" style="margin:10px 0px; padding:10px 0px; border-bottom: 1px dotted #cfcfcf;">
            <div class="span3 text-center">
              <a href="<{$link.pic}>" class="fancybox" title="<{$link.link_title}>"><img src="<{$link.thumb}>" alt="<{$link.link_title}>"></a>
            </div>

            <div class="span9">

              <{if $isAdmin}>
                <div class="pull-right">
                  <a href="javascript:delete_tad_link_func(<{$link.link_sn}>)" class="btn btn-mini btn-danger"><{$smarty.const._TAD_DEL}></a>
                  <a href="index.php?op=tad_link_form&link_sn=<{$link.link_sn}>" class="btn btn-mini btn-warning"><{$smarty.const._TAD_EDIT}></a>
                </div>
              <{/if}>

              <div style="font-size: 24px;">
                <a href="index.php?link_sn=<{$link.link_sn}>" <{$link.js_class}>><{$link.link_title}></a>
              </div>

              <div style="font-size: 12px; margin: 10px 0px;">
                <{if $cate.cate_title=="" and $link.cate_title}>
                  <a href="index.php?cate_sn=<{$link.cate_sn}>"><{$link.cate_title}></a> |
                <{/if}>

                <a href="index.php?op=go&link_sn=<{$link.link_sn}>" target="_blank"><{$link.link_url}></a>
              </div>

                <div style="color:#404040; font-size: 12px; line-height: 1.8;"><{$link.link_desc}></div>

            </div>
          </div>
        <{/foreach}>
      </div>
    </div>


    <div style="margin:20px auto;">
      <{$bar}>
    </div>
  <{/if}>

  <{if $isAdmin}>
    <{includeq file="db:tad_link_form.html"}>
  <{/if}>

<{/if}>