<{$formValidator_code}>

<script type="text/javascript">
  $(document).ready(function(){
    $('#LinkGet').click(function() {
      $.post("link_ajax.php", { url: $('#LinkUrl').val()},
       function(data) {
        var obj = $.parseJSON(data);
         $('#LinkTitle').val(obj.title);
         $('#LinkDesc').val(obj.description);
         $('#thumb').attr("src","http://capture.heartrails.com/400x300/border?"+$('#LinkUrl').val());
       });
    });

    $('#thumb').click(function() {
      $('#thumb').attr("src","http://capture.heartrails.com/400x300/border?"+$('#LinkUrl').val());
    });
  });
</script>

<script type="text/javascript" src="<{$xoops_url}>/modules/tadtools/My97DatePicker/WdatePicker.js"></script>


<div class="well">
  <form action="index.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">
    <div class="control-group">
      <div class="span12 controls">
        <input type="text" name="link_url" id="LinkUrl" style="font-size:24px;" class="validate[required,custom[url]] span12" placeholder="http://<{$smarty.const._MD_TADLINK_LINK_URL}>" value="<{$link_url}>">
      </div>
    </div>

    <div class="control-group">
      <div class="span6 controls">
        <input type="text" name="link_title" id="LinkTitle" class="validate[required] span12" placeholder="<{$smarty.const._MD_TADLINK_LINK_TITLE}>" value="<{$link_title}>">
      </div>
      <div class="span4 controls">
        <input type="text" name="unable_date" class="span12" value="<{$unable_date}>" id="unable_date" placeholder="<{$smarty.const._MD_TADLINK_UNABLE_DATE}>"  onClick="WdatePicker({dateFmt:'yyyy-MM-dd' , startDate:'%y-%M-%d}'})">
      </div>
      <div class="span2 controls">
        <button type="button" id="LinkGet" class="btn btn-primary pull-right"><{$smarty.const._MD_TADLINK_AUTOGET}></button>
      </div>
    </div>


    <div class="control-group">
      <{if $get_tad_link_cate_options}>
        <div class="span6 controls">
          <select name="cate_sn" size=1 id="cate_sn" class="span12">
            <option value=""></option>
            <{$get_tad_link_cate_options}>
          </select>
        </div>
        <div class="span6 controls">
          <input type="text" name="new_cate" class="span12" id="new_cate" placeholder="<{$smarty.const._MD_TADLINK_NEW_CATE}>">
        </div>
      <{else}>
        <div class="span12 controls">
         <input type="text" name="new_cate" class="span12" id="new_cate" placeholder="<{$smarty.const._MD_TADLINK_ADD_NEW_CATE}>">
       </div>
      <{/if}>
    </div>

    <div class="control-group">
      <div class="span6 controls">
        <textarea name="link_desc" class="span12" rows=3 id="LinkDesc" placeholder="<{$smarty.const._MD_TADLINK_LINK_DESC}>"><{$link_desc}></textarea>
      </div>
      <div class="span2 controls">
        <img src="<{$pic}>" id="thumb" alt="thumb" title="thumb">
      </div>
      <div class="span4 controls">
        <input type="file" name="pic" accept="image/gif,image/jpeg,image/png">
      </div>
    </div>

    <div class="control-group">
      <div class="span12 controls">
        <input type="hidden" name="enable" value="1">
        <input type="hidden" name="mode" value="<{$mode}>">
        <input type="hidden" name="link_sn" value="<{$link_sn}>">
        <input type="hidden" name="op" value="<{$next_op}>">
        <button type="submit" class="btn btn-info pull-right"><{if $link_sn}><{$smarty.const._TAD_SAVE}><{else}><{$smarty.const._MD_TADLINK_QUICK_ADD}><{/if}></button>
      </div>
    </div>

  </form>
</div>
<div style="color:<{$color}>;"><{$chk_msg}></div>
<div class="clearfix"></div>