<div class="container">
  <div id="save_msg"></div>
  <div class="row">
    <div class="col-md-3">
      <{$ztree_code}>
    </div>
    <div class="col-md-9">
      <{if $op=="tad_link_cate_form"}>
        <h2><{$smarty.const._MA_TADLINK_CATE_FORM}></h2>

        <{$formValidator_code}>

        <form action="main.php" method="post" id="myForm" enctype="multipart/form-data" class="form-horizontal" role="form">
          <div class="form-group">
            <label class="col-md-2 control-label">
              <{$smarty.const._MA_TADLINK_OF_CATE_SN}>
            </label>
            <div class="col-md-3">
              <select name="of_cate_sn" size=1 >
                <option value=""></option>
                <{$get_tad_link_cate_options}>
              </select>
            </div>
            <label class="col-md-2 control-label">
              <{$smarty.const._MA_TADLINK_CATE_TITLE}>
            </label>
            <div class="col-md-4">
              <input type="text" name="cate_title" size="20" value="<{$cate_title}>" id="cate_title" class="validate[required] form-control">
            </div>
            <div class="col-md-1">
              <input type="hidden" name="cate_sn" value="<{$cate_sn}>">
              <input type="hidden" name="cate_sort" value="<{$cate_sort}>">
              <input type="hidden" name="op" value="<{$next_op}>">
              <button type="submit" class="btn btn-primary"><{$smarty.const._TAD_SAVE}></button>
            </div>
          </div>

          <!--分類編號-->

        </form>
      <{else}>
        <div class="text-center">
          <a href="main.php?op=tad_link_cate_form" class="btn btn-info"><{$smarty.const._TAD_ADD}></a>
        </div>
      <{/if}>
    </div>
  </div>
</div>